{% extends 'login/base.html' %} {% load staticfiles %} {% block title %} Patients {% endblock %} {% block body %} {% if patient %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'patients/details.css' %}" />
<html>

<head>
    <title>Page Title</title>
</head>

<body>

    <div id="HeaderDiv">
        <div class="center">
            <h1>
                Patient: {{patient.lastName}},&nbsp;{{ patient.firstName }}
                <span id="startAppt">Start Appointment</span> Gender : {{patient.gender}}
            </h1>
        </div>
    </div>
    <div id="PatientInfo">
        <div id="Diag">
            <a class="customA" href="{% url 'patients:diagnosis' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Diagnosis
            </a>
        </div>
        <div id="Prescrip">
            <a class="customA" href="{% url 'patients:prescription' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Prescription
            </a>
        </div>
        <div id="PNotes">
            <a class="customA" href="{% url 'patients:notes' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Note
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add diagnosis</h4>
                </div>
                <div class="modal-body">
                    <p>TODO: Generate modal for adding in diagnosis</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</body>



</html>
{% else %}
<h1>No patients found! </h1>
{% endif %} {% endblock %}