
{% extends 'login/base.html' %}
{% load staticfiles %}
{% block title %} Patients List {% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'patients/style.css' %}" />
{% if patient_list %}
<h3>List of Patients</h3>
<table>
    <tr>
    <th>First Name</th>
    <th>M.I.</th>
    <th>Last Name</th>
    </tr>
    {% for patient in patient_list %}
        <tr>
            <td><a href="{% url 'patients:detail' patient.patientID %}">{{patient.firstName}}</a></td>
            <td><a href="{% url 'patients:detail' patient.patientID %}">{{patient.middleI}}</a></td>
            <td><a href="{% url 'patients:detail' patient.patientID %}">{{patient.lastName}}</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}

